appdirs==1.4.4
asgiref==3.4.1
blessed==1.17.12
certifi==2018.10.15
cffi==1.14.4
chardet==3.0.4
colour==0.1.5
cryptography==3.3.1
defusedxml==0.5.0
Django==3.2.6
django-bootstrap-icons==0.6.0
django-braces==1.14.0
django-countries==7.2.1
django-model-utils==4.1.1
django-private-chat==0.3.0
flyingcircus==0.1.3.2
html5lib==1.1
idna==2.10
oauthlib==3.1.0
Pillow==8.1.0
pycparser==2.20
PyJWT==1.7.1
PyPDF2==1.26.0
PySocks==1.7.1
python-dotenv==0.19.0
python3-openid==3.2.0
pytk==0.0.2.1
pytz==2020.4
pyuca==1.2
reportlab==3.5.59
requests==2.25.1
requests-oauthlib==1.3.0
setuptools-scm==5.0.1
six==1.15.0
social-auth-app-django==2.1.0
social-auth-core==3.3.3
sqlparse==0.4.1
tk==0.1.0
tkmacosx==0.1.5
twilio==6.10.1
urllib3==1.26.2
wcwidth==0.2.5
webencodings==0.5.1
websockets==8.1
xhtml2pdf==0.2.3
