body {

  background: whitesmoke;
  font-family: "Open Sans", sans-serif;
}
.container {
 
  max-width: 960px;
  margin: 30px auto;
  padding: 20px;
  margin-left: 300px;
}
.card{
  position: center;
  padding: 40px;
}