<!DOCTYPE html>
<html>
  {% load static %}
  {% block content %}
  {% load i18n %}
  <head>
        {% include 'snippets/css.html'%}
    <link rel="stylesheet" href="{% static 'css/navsnippets.css' %}">
    <link rel="stylesheet" href="{% static 'css/inbox.css' %}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <meta charset="utf-8">
    <title></title>
  </head>
{% include 'sidebar.html'%}
<body>
  <div class="container">
    <div class="mail-box">
      <aside class="sm-side">
        <div class="user-head">
          <a class="inbox-avatar" href="javascript:;">
            <img width="64" hieght="60" src="{% static 'img/logo.jpeg' %}">
          </a>
          <div class="user-name">
            <h5><a href="#">Notre Dame Mailing System </a></h5>
            <span><a href="#">Notre Dame Of Midsayap College</a></span>
          </div>
        </div>
        <div class="inbox-body">
          <a href="{% url 'chat:messages_compose' %}"data-toggle="modal" title="Compose" class="btn btn-compose">Compose</a>
        </div>
        <ul class="inbox-nav inbox-divider">
          <li class=" ">
            <a href="{% url 'chat:messages_inbox' %}"><i class="fa fa-inbox"></i> Inbox <span class="label label-danger pull-right"> 
            </span></a>
          </li>
          <li>
            <a href="{% url 'chat:messages_outbox' %}"><i class="fa fa-envelope-o"></i> Sent Mail</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-bookmark-o"></i> Important</a>
          </li>
          <li>
            <a href="#"><i class=" fa fa-external-link"></i> Drafts <span class="label label-info pull-right">30</span></a>
          </li>
          <li>
            <a href="{% url 'chat:messages_trash' %}"><i class=" fa fa-trash-o"></i> Trash</a>
          </li>
        </ul>
      </aside>
      <aside class="lg-side">
        <div class="inbox-head">
          <h3>Inbox</h3>
        </div>
           <aside class="lg-side">
            <div class="inbox-body">
              <div class="heading-inbox row">
                <div class="col-md-8">
                  <div class="compose-btn">
                    <a class="btn btn-sm btn-primary" href="{% url 'chat:messages_reply' message.id %}" data-original-title="" title=""><i class="fa fa-reply"></i> Reply</a>
                    <button title="" data-placement="top" data-toggle="tooltip" type="button" data-original-title="Print" class="btn  btn-sm tooltips"><i class="fa fa-print"></i> </button>
                    <button  onclick="window.location.href='{% url 'chat:messages_delete' message.id %}'"title="" data-placement="top" data-toggle="tooltip" data-original-title="Trash" class="btn btn-sm tooltips"><i class="fa fa-trash-o"></i></button>
                  </div>
                </div>
                <div class="col-md-4 text-right">
                  <p class="date"> {{ message.sent_at|date:'h:i A d M Y' }}</p>
                </div>
                <div class="col-md-12">
                  <h4> {{message.subject}}</h4>
                </div>
            </div>
            <div class="sender-info">
              <div class="row">
                <div class="col-md-12">
                  {% if message.sender.image.url is not null %}  
                  <img alt=""src="{{ MEDIA_URL }}{{ message.sender.image.url }}">
                  {% else %}
                  <img alt=""src="{% static 'img/user.jpg' %}">
                  {% endif %}

                  <strong>{{ message.sender.first_name }} {{ message.sender.last_name }}</strong>
                  <span>[{{ message.sender.email }}]</span>
                  to
                  <strong>me</strong>
                  <a class="sender-dropdown " href="javascript:;">
                      <i class="fa fa-chevron-down"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="view-mail">
              <p> {{ message.body }}</p>
            </div>
            {% if message.file.url is not null %}  
            <div class="attachment-mail">
              <source src="{{message.file.url}}" type="audio/{{message.file.type}}">

            </div>
           {% endif %}
 
        </div>
      </aside>
    </aside>
  </div>
</div>
</body>
  {% endblock %}
</html>
 