{% load static %}
 
  <div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
      <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper">
      <div class="sidebar-content">
        <div class="sidebar-brand">
          <a href="#">Alumni Tracer | List </a>
          <div id="close-sidebar">
            <i class="fas fa-times"></i>
          </div>
        </div>
        <div class="sidebar-header">
        {% if user.is_authenticated %}
          {% if request.user.is_staff %}
            <div class="user-pic">
              <img class="img-responsive img-rounded" src="{% static 'img/user.jpg' %}"alt="User picture">
            </div>
            <div class="user-info">
              <span class="user-name">{{ user.first_name}}
                <strong> {{ user.last_name}}</strong>
              </span>
              <span class="user-role">Administrator</span>
              <span class="user-status">
                <i class="fa fa-circle"></i>
                <span>Online</span>
              </span>
            </div>
          {% else %}
            <div class="user-pic">
            {% if user.image.url is not null %}  
              <img class="img-responsive img-rounded" src="{{ MEDIA_URL }}{{ user.image.url }}"alt="User picture">
            {% else %}
              <img class="img-responsive img-rounded" src="{% static 'img/user.jpg' %}"   alt="User picture">         
            {% endif %}
            </div>
            <div class="user-info">
              <span class="user-name">{{ user.first_name}}
                <strong>{{ user.last_name}}</strong>
              </span>
              <span class="user-role">Alumni</span>
              <span class="user-status">
                <i class="fa fa-circle"></i>
                <span>Online</span>
              </span>
            </div>
          {% endif %}
        {% endif %}
        </div>
        <div class="sidebar-search">
          <div>
            <form class='form' method='GET' action='.'>
            <div class="input-group">
              <input type="text" class="form-control search-menu" placeholder="Search..." name='q' value='{{ request.GET.q }}'>
              <div class="input-group-append">
                <span class="input-group-text">
                  <button class='fa fa-search' aria-hidden="false" type='submit'></button> 
                </span>
              </div>
            </div>
          </form>
          </div>
        </div>
        <div class="sidebar-menu">
          {% if user.is_authenticated %}
            {% if request.user.is_staff %}
            <ul>
              <li class="header-menu">
                <span>General</span>
              </li>
              <li class="sidebar-dropdown">
                <a href="{% url 'account:post' %}">
                  <i class="fa fa-tachometer-alt"></i>
                  <span>Alumni List</span>
                </a>   
                <a href="">
                  <i class="fa fa-tachometer-alt"></i>
                  <span>Department List</span>
                </a>  
                <a href="">
                  <i class="fa fa-tachometer-alt"></i>
                  <span>Course List</span>
                </a>     
                
              <li class="header-menu">
                <span>Components</span>
              </li>
              <li class="sidebar-dropdown">
                <a href="{% url 'alumni:create-form' %}">
                  <i class="fa fa-chart-line"></i>
                  <span> Add Alumni Information</span>
                </a>
              </li>
              <li class="sidebar-dropdown">       
                <a href="#">
                  <i class="fa fa-tachometer-alt"></i>
                  <span>User</span>
                </a>
                <div class="sidebar-submenu">
                  <ul>
                    <li>
                      <a href="">Add User </a>
                    </li>
                    <li>
                      <a href="">Add Course</a>
                    </li>
                    <li>
                      <a href="">Add Department </a>
                    </li>
                  </ul>
                </div>
              </li> 
              </li>
              <li class="header-menu">
                <span>Extra</span>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-book"></i>
                  <span>Chat List</span>
                  <span class="badge badge-pill badge-primary">Beta</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-calendar"></i>
                  <span>Calendar</span>
                </a>
              </li>
            </ul>
            {% else %}
            <ul>
              <li class="header-menu">
                <span>General</span>
              </li>
              <li class="sidebar-dropdown">
                <a href="{% url 'account:user-detail' user.email %} ">
                  <i class="fa fa-tachometer-alt"></i>
                  <span>{{ user.email}}</span>
                </a> 
                  <a href="{% url 'post:profile-detail' user.pk %}">
                  <i class="fa fa-tachometer-alt"></i>
                  <span>Posts </span>
                </a>            
                <a href="{% url 'account:upload' user.email %}">
                  <i class="fa fa-tachometer-alt"></i>
                  <span>Upload Profile</span>
                </a> 
              </li>
              <li class="header-menu">
                <span>Components</span>
              </li>
              <li class="sidebar-dropdown">
                <a href="{% url 'account:post' %}">
                  <i class="fa fa-tachometer-alt"></i>
                  <span>Alumni List</span>
                </a> 
                <a href="#">
                  <i class="fa fa-tachometer-alt"></i>
                  <span>User</span>
                </a>
                <div class="sidebar-submenu">
                  <ul>
                    <li>
                      <a href="{% url 'account:edit_profile' user.email %}">Edit Information  </a>
                    </li>
                    <li>
                      <a href="{% url 'alumni:edit-form' user.pk %}">Edit Employment Information</a>
                    </li>
                    <li>
                      <a href="#">Change password </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="header-menu">
                <span>Extra</span>
              </li>
 
            </ul>
            {% endif %}
          {% endif %}
          <div class="sidebar-footer">
            <a href="{% url 'post'%}">
              <i class="fa fa-home"></i>
           
            </a>
            <a href="#">
              <i class="fa fa-cog"></i>
              <span class="badge-sonar"></span>
            </a>
                  <a href='{% url "chat:messages_inbox" %}'>
        <i class="fa fa-envelope"></i>
        <span class="badge badge-pill badge-success notification"></span>
      </a>
            <a href='{% url "logout" %}'>
              <i class="fa fa-power-off"></i>
            </a>
          </div>
        </div>
      </div>  
    </nav>

<script src="{% static 'js/navsnippets.js' %}"></script>
{% include 'snippets/js.html' %}