{% load static %}
{% block content %}
{% load hitcount_tags %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
   {% include 'snippets/css.html'%}
  <link rel="stylesheet" href="{% static 'css/navsnippets.css' %}">
  <link rel="stylesheet" href="{% static 'css/post.css' %}">
  <link rel="stylesheet" href="{% static 'css/addpost.css' %}">
  <link rel="stylesheet" href="{% static 'css/backtop.css' %}">
	<title></title>
</head>
  <div id="backToTop"></div>
</div>
<div class="container addpost bootstrap snippets bootdey">
	<div class="row  ">
		<div class="addpost col-md-offset-3 col-md-6 col-xs-12">
			<div class="well well-sm well-social-post">
				<form method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<ul class="list-inline" id='list_PostActions'>
						<li class='active'><a href='#'>Update status</a></li>
					</ul>					 
					<div class="form-group">
						{% if user.image.url is not null %}  
							<img   src="{{ MEDIA_URL }}{{ user.image.url }}"/>{{ form.body }}
						{% else %}
							<img class="img-responsive img-rounded" src="{% static 'img/user.jpg' %}"   alt="User picture">         
						{% endif %}
						<div class="banner">
							{{ form.banner_photo }}
						</div>
					</div>
					<ul class='list-inline post-actions'>
						<li><a href="#"><span class="glyphicon glyphicon-camera"></span></a></li>
						<li><a href="#" class='glyphicon glyphicon-user'></a></li>
						<li><a href="#" class='glyphicon glyphicon-map-marker'></a></li>
						<li class='pull-right'>
							<input type="submit" class='btn btn-primary btn-xs' value="{{ next }}Post"/>
						</li>
					</ul>
				</form>
			</div>
		</div>
	</div>
</div>
	{% include 'sidebar.html'%}     
<body>    
  <div class="switch">
		<div class="circle"></div>
	</div>			
  <div class="container">                                        
  	<div class="row"> 
      <div class="col-md-12">
        <div id="content" class="content content-full-width">
          <div class="profile-content">
            <div class="tab-content p-0">
              <div class="tab-pane fade active show" id="profile-post">
                <ul class="timeline">
                  {% for qs in post %}
		                <li>
	                    <div class="timeline-time">
	                      <span class="date">{{ qs.date|date:"F" }}</span>
	                      <span class="date">{{ qs.date|timesince }}</span>
	                    </div>
											<div class="timeline-icon">
												<a href="javascript:;">&nbsp;</a>
											</div>
		                  <div class="timeline-body">
												<div class="timeline-header">
												 <span class="userimage">
												 	  {% if qs.user.image.url is not null %}  
												      <img src="{{ MEDIA_URL }}{{ qs.user.image.url }}" alt="" class="be-ava-comment"> 
												    {% else %}
												      <img alt=""src="{% static 'img/user.jpg' %}">
												    {% endif %} 
												  </span>
												  <span class="username"><a href="{% url 'post:profile-detail' qs.user.pk  %}">{{ qs.user.first_name}} {{ qs.user.last_name}} </a> <small></small></span>
												  <span class="pull-right text-muted">
												   {% get_hit_count for qs %} views
												  </span>
												</div>
												<div class="timeline-content">
 													<p>
												 	 {{ qs.body}}
												  </p>
												  {% if qs.banner_photo.url is not null %}
                          <div class="banner_photo">  
                            <img src="{{ MEDIA_URL }}{{ qs.banner_photo.url }}" alt=""> 
                          </div>
                          {% endif %} 
												</div>
												<div class="timeline-likes">
													<div class="stats-right">
							   
														 {% for comment  in qs.comment_set.all %}
														<span class="stats-text">
															 {{ comment.count}}  
														</span>
														{% endfor %} 
													</div>
													<div class="stats">
														<span class="stats-total"> </span>
													</div>
												</div>
												<div class="timeline-footer">
												<a href="{% url 'post:detail' qs.pk  %}" class="m-r-15 text-inverse-lighter"><i class="fa fa-comments fa-fw fa-lg m-r-3"></i> Comment</a> 
												<a href="{% url 'post:detail' qs.pk  %}" class="m-r-15 text-inverse-lighter"><i class="fa fa-share fa-fw fa-lg m-r-3"></i> Detail</a>
												</div>
		                  </div>
		                  {% endfor %}
  									</li>
  								</ul>
									<div class="progress-wrap">
										<svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
											<path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
										</svg>
									</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
	    </div>
	  <div>
  </body>
</html>
{% endblock %}
<script src="{% static 'js/alumni.js' %}"></script>
{% include 'snippets/js.html' %}