{% load static %}
{% block content %}
{% load hitcount_tags %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
     {% include 'snippets/css.html'%}
    <link rel="stylesheet" href="{% static 'css/navsnippets.css' %}">
    <link rel="stylesheet" href="{% static 'css/post_detail.css' %}">
    <link rel="stylesheet" href="{% static 'css/comment.css' %}">
    <link rel="stylesheet" href="{% static 'css/backtop.css' %}">
  <title></title>
</head>
{% include 'sidebar.html'%}
<body>
  <div class="switch">
    <div class="circle"></div>
  </div>      
  <div class="container">
    <div class="row"> 
      <div class="col-md-12">
        <div id="content" class="content content-full-width">
          <div class="profile-content">
            <div class="tab-content p-0">
              <div class="tab-pane fade active show" id="profile-post">
                <ul class="timeline">
                    <li>
                      <div class="timeline-time">
                        <span class="date">{{ post.date|date:"F" }}</span>
                        <span class="time">{{ post.date|time }}</span>
                      </div>
                      <div class="timeline-icon">
                        <a href="javascript:;">&nbsp;</a>
                      </div>
                      <div class="timeline-body">
                        <div class="timeline-header">
                         <span class="userimage">
                            {% if post.user.image.url is not null %}  
                              <img class="be-ava-comment" src="{{ MEDIA_URL }}{{ post.user.image.url }}" alt=""  > 
                            {% else %}
                              <img alt=""src="{% static 'img/user.jpg' %}">
                            {% endif %} 
                          </span>
                          <span class="username"><a href="javascript:;">{{ post.user.first_name}} {{ post.user.last_name}} </a> <small></small></span>
                          <span class="pull-right text-muted">
                         views
                          </span>
                        </div>
                        <div class="timeline-content">
                          <h5>{{ post.title}}</h5>
                          <p>
                           {{ post.body}}
                          </p>
                          {% if post.banner_photo.url is not null %}
                          <div class="banner_photo">  
                            <img src="{{ MEDIA_URL }}{{ post.banner_photo.url }}" alt=""> 
                          </div>
                          {% endif %} 
                        </div>
                        <div class="timeline-likes">
                          <div class="stats-right">
                            <span class="stats-text">{{ comment.comment_set.all.count }}</span>
                          </div>
                          <div class="stats">
                            <span class="stats-total"> </span>
                          </div>
                        </div>
 
                        <div class="timeline-comment-box">
                          <div class="user">
                          {% if user.image.url is not null %}  
                          <img src="{{ MEDIA_URL }}{{ user.image.url }}"/>{{ form.body }}
                          {% else %}
                          <img class="img-responsive img-rounded" src="{% static 'img/user.jpg' %}"   alt="User picture">         
                          {% endif %} </div>
                          <div class="input">
                            <form method="post" enctype="multipart/form-data">
                              {% csrf_token %}
                              <div class="input-group">
                                {{form.text }} 
                                <span class="input-group-btn p-l-10">
                                <input type="submit" class='btn btn-primary btn-xs' value="{{ next }}Comment">
                                </span>
                              </div>
                            </form>
                              {% for comment in post.comment_set.all %}
                                {% if user.is_authenticated %}
                              <h1 class="comments-title"> </h1>
                              <div class="be-comment">
                                <div class="be-img-comment">  
                                  <a href="blog-detail-2.html">
                                    {% if comment.author.image.url is not null %}  
                                    <img   src="{{ MEDIA_URL }}{{ comment.author.image.url }}" alt="" class="be-ava-comment">
                                    {% else %}
                                    <img  src="{% static 'img/user.jpg' %}" alt="" class="be-ava-comment">
                                    {% endif %}
                                  </a>
                                </div>
                                <div class="be-comment-content">
                                    <span class="be-comment-name">
                                      <a href="blog-detail-2.html">{{ comment.author.last_name }}</a>
                                      </span>
                                    <span class="be-comment-time">
                                      <i class="fa fa-clock-o"></i>
                                      {{ comment.date_created }}
                                    </span>
                                  <p class="be-comment-text">
                                    {{ comment.text}}
                                  </p>
                                </div>
                              </div>
                              {% endif %}
                              {% empty %}
                                <p>No Comments Yet, Be the first to commen.</p>
                              {% endfor %}
                      </div>  
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
   </body>
</html>
{% include 'snippets/js.html' %}
{% endblock %}